// causes start

section#what.section.causes

	img.causes__bg(src="img/causes_img.png", alt="img")

	.container
		.row.align-items-end

			.col-xl-5

				.heading.heading--primary
					span.heading__pre-title What we Do
					h2.heading__title #[span Helpo] #[span Causes]
					p Sharksucker sea toad candiru rocket danio tilefish stingray deepwater stingray Sacramento splittail, Canthigaster rostrata. Midshipman dartfish Modoc sucker, yellowtail kingfish

			.col-xl-6.offset-xl-1.d-none.d-xl-block

				.row.offset-margin

					.col-6

						.counter-item.counter-item--style-3
							.counter-item__top
								h6.counter-item__title People We Helped on 2018
							.counter-item__lower
								span.js-counter 200
								span k

					.col-6

						.counter-item.counter-item--style-3
							.counter-item__top
								h6.counter-item__title Dollars We Collected
							.counter-item__lower
								span.js-counter 65
								span bil

		.row.align-items-end.margin-bottom

			.col-sm-6

				a.button.button--primary(href="causes.html") More Causes

			.col-sm-6.d-flex.justify-content-sm-end

				// slider nav start
				.slider__nav.causes-slider__nav#media
					.slider__arrows
						.slider__prev
							+fa('chevron-left')
						.slider__next
							+fa('chevron-right')
				// slider nav end

	.causes-holder.offset-margin.container

		.causes-holder__wrapper

			.causes-slider.offset-margin

				.causes-slider__item

					.causes-item.causes-item--primary
						.causes-item__body
							.causes-item__top
								h6.causes-item__title 
									a(href="https://epaper.thestatesman.com/2509299/Kolkata-The-Statesman/14TH-JANUARY-2020#page/3/2") The Statesman
								p Guj: App to rescue birds injured by kite strings.
							.causes-item__img
								img.img--bg(src="img/statesman.png", alt="img")
						a.button.causes-item__button.button--primary(href="https://epaper.thestatesman.com/2509299/Kolkata-The-Statesman/14TH-JANUARY-2020#page/3/2") View Complete Story

				.causes-slider__item

					.causes-item.causes-item--primary
						.causes-item__body
							.causes-item__top
								h6.causes-item__title 
									a(href="https://firebasestorage.googleapis.com/v0/b/jivdaya-test.appspot.com/o/assets%2Fsaurashtra_kranti_jivdaya.jpeg?alt=media&token=73cc4170-0a4b-4285-8232-4057eff39ca7") Kranti
								p Sharksucker sea toad candiru rocket danio tilefish
							.causes-item__img
								//.causes-item__badge(style="background-color: #F36F8F") Medicine
								img.img--bg(src="img/kranti.png", alt="img")
							//.causes-item__lower
								.progress-bar
									.progress-bar__inner(style="width: 23%;")
										.progress-bar__value 23%
								.causes-item__details-holder
									.causes-item__details-item
										span Goal: 
										span 14 000$
									.causes-item__details-item.text-right
										span Pledged: 
										span 6 098$

						a.button.causes-item__button.button--primary(href="https://firebasestorage.googleapis.com/v0/b/jivdaya-test.appspot.com/o/assets%2Fsaurashtra_kranti_jivdaya.jpeg?alt=media&token=73cc4170-0a4b-4285-8232-4057eff39ca7") View Complete Story

				.causes-slider__item
					.causes-item.causes-item--primary
						.causes-item__body
							.causes-item__top
								h6.causes-item__title 
									a(href="https://indianexpress.com/article/india/mobile-app-for-aid-of-birds-launched-ahead-of-uttarayan-6212060/") The Indian Express
								p Mobile app for aid of birds launched ahead of Uttarayan
							.causes-item__img
								//.causes-item__badge(style="background-color: #2EC774") Education
								img.img--bg(src="img/tie.png", alt="img")
							//.causes-item__lower
								.progress-bar
									.progress-bar__inner(style="width: 51%;")
										.progress-bar__value 51%
								.causes-item__details-holder
									.causes-item__details-item
										span Goal: 
										span 150 000$
									.causes-item__details-item.text-right
										span Pledged: 
										span 76 500$
					
						a.button.causes-item__button.button--primary(href="https://indianexpress.com/article/india/mobile-app-for-aid-of-birds-launched-ahead-of-uttarayan-6212060/") View Complete Story

				.causes-slider__item

					.causes-item.causes-item--primary
						.causes-item__body
							.causes-item__top
								h6.causes-item__title 
									a(href="https://epaper.timesgroup.com/olive/apa/timesofindia/SharedView.Article.aspx?href=TOIA/2019/01/11&id=Ar00611&sk=D8306B05&viewMode=text") Times Of India
								p App to save birds in Uttarayan launched
							.causes-item__img
								//.causes-item__badge(style="background-color: #F8AC3A") Food
								img.img--bg(src="img/toi.png", alt="img")
							//.causes-item__lower
								.progress-bar
									.progress-bar__inner(style="width: 50%;")
										.progress-bar__value 50%
								.causes-item__details-holder
									.causes-item__details-item
										span Goal: 
										span 50 000$
									.causes-item__details-item.text-right
										span Pledged: 
										span 25 000$

						a.button.causes-item__button.button--primary(href="https://epaper.timesgroup.com/olive/apa/timesofindia/SharedView.Article.aspx?href=TOIA/2019/01/11&id=Ar00611&sk=D8306B05&viewMode=text") View Complete Story

// causes end