// about us start

section#about.section.about-us
	.container
		.row.align-items-center

			.col-lg-6

				.heading.heading--primary
					span.heading__pre-title About Us
					h2.heading__title #[span Help is Our] #[span Main Goal]

				//p #[strong Thresher shark rudd African lungfish silverside, Red salmon rockfish grunion, garpike zebra danio king-of-the-salmon banjo catfish."]
				p In the times of uncertainties what differentiates us from others is the way we behave with our surroundings. We believe in people who wants to bring their social entrepreneurial skills to the fore in order to create a better society.
				p Vasudhaiva Kutumbakam has always been our working principle and it is true to its core in implementation of our systems. Since last two years we have helped many people save critical lives in need of assistance and has led to recognition of our platform at state as well as national level publications.
				p Our two years journey have steadily improved our platform parameters and user-friendliness and we strive for excellence in providing seamless experience for the user.

				//a.button.button--primary(href="about.html") More About

			.col-lg-6.col-xl-5.offset-xl-1
				
				.info-box
					img.img--layout(src="img/about_layout.png" alt="img")
					img.img--bg(src="img/about.jpg", alt="img")
					h4.info-box__title We are Awesome Volounteer Team
					p To know more about us download our app. 
					a.info-box__link(href="https://play.google.com/store/apps/details?id=in.co.oxeye.jivdaya") Install JivDaya

// about us end


