// pricing style-1 start

section.section.pricing.pricing-style--1
	.container
		.row.offset-margin

			.col-lg-4

				.heading.heading--primary
					h2.heading__title #[span Pricing] #[span Plan]
					ul.pricing-item__list
						li No Signup Fees
						li No Fixed Charges 
						li Only Pay from What you Raise Successfully
					p 1) *Taxes applicable – GST @18% Charged Additionally on JivDaya Platform Fee and Payment Gateway Fee (Applicable when Realization of the Funds) <br>2) Real Time Exchange Rate Calculated by Payment Gateway is Applicable in Case of International Fund Transfers<br>3) Digital Advertising is Available at Additional Cost<br>4) If you have any Queries E-mail us at &lt;support@jivdaya.co.in&gt;		

			.col-sm-8.offset-sm-2.col-md-6.offset-md-0.col-lg-4

				.pricing-item.pricing-item--primary
					h6.pricing-item__plan For Registered Groups
					.pricing-item__price 5%*
					p.pricing-item__plan Applicable only when successfully raised donations
					ul.pricing-item__list
						li Unlimited Fundraisers 
						li Auto Tax Exemption Receipt 
						li Local and International Payment Support
						li No Time Frame for Raising Funds
						li Easy to Share on Various Platforms
						li Fully Automated System
					a.pricing-item__button.button.button--primary(href="#") Get Started
					

			.col-sm-8.offset-sm-2.col-md-6.offset-md-0.col-lg-4

				.pricing-item.pricing-item--primary
					h6.pricing-item__plan For Unregistered Groups
					.pricing-item__price 7%*
					p.pricing-item__plan Applicable only when successfully raised donations
					ul.pricing-item__list
						li Unlimited Fundraisers 
						li Local and International Payment Support
						li No Time Frame for Raising Funds
						li Easy to Share on Various Platforms
						li Fully Automated System
					a.pricing-item__button.button.button--primary(href="#") Get Started

// pricing style-1 end