// events start

section.section.events

	img.events__bg(src="img/events_bg.png", alt="img")

	.container
		.row.margin-bottom

			.col-12

				.heading.heading--primary.heading--center
					span.heading__pre-title Events
					h2.heading__title #[span Helpo Holds] #[span for You]
					p.no-margin-bottom Sharksucker sea toad candiru rocket danio tilefish stingray deepwater stingray Sacramento splittail, Canthigaster rostrata. Midshipman dartfish

		.row

			.col-md-6.col-lg-4

				.event-item
					.event-item__img
						img.img--bg(src="img/events.jpg", alt="img")
					.event-item__content
						h6.event-item__title
							a(href="#") Start Posting your work
						p Tell your story
						p Add pictures/videos
						p Check your fundraiser

			.col-md-6.col-lg-4

				.event-item
					.event-item__img
						img.img--bg(src="img/events.jpg", alt="img")
					.event-item__content
						h6.event-item__title
							a(href="#") Share with friends
						p Send emails
						p Send link sms
						p Share on social media

			.col-md-6.col-lg-4

				.event-item
					.event-item__img
						img.img--bg(src="img/events.jpg", alt="img")
					.event-item__content
						h6.event-item__title
							a(href="#") Manage Donations
						p Accept Donations
						p Thank donors
						p Withdraw funds automatically

		.row

			.col-12.text-center

				a.button.button--primary(href="#") View all events

// events end