// faq start

section.section.faq
	.container
		.row.margin-bottom

			.col-12

				.heading.heading--primary
					
					h2.heading__title.no-margin-bottom #[span Partner] #[span Program]

		.row

			.col-lg-8.col-xl-9

				.accordion.accordion--primary
					.accordion__title-block
						h6.accordion__title What tasks should I perform in Partner Program?
						span.accordion__close
					.accordion__text-block
						p Just the usual task you perform regularly. Click the images of your work/need/Project and post it on the app. Share this post with your Friends and Family and showcase your endeavour.
				
				.accordion.accordion--primary
					.accordion__title-block
						h6.accordion__title How can I become a Partner?
						span.accordion__close
					.accordion__text-block
						p Register on the JivDaya App by scanning the QR code of your associate. Fill all the necessary fields of details and you are good to go.
				
				.accordion.accordion--primary
					.accordion__title-block
						h6.accordion__title What can a partner raise money for?
						span.accordion__close
					.accordion__text-block
						p Partner can raise money for various helping causes as well as for projects. 56-word file cases or more.
				
				.accordion.accordion--primary
					.accordion__title-block
						h6.accordion__title Can I accept overseas payment?
						span.accordion__close
					.accordion__text-block
						p Yes, you can.
				
				.accordion.accordion--primary
					.accordion__title-block
						h6.accordion__title What is Partner Program and what will I get after joining it?
						span.accordion__close
					.accordion__text-block
						p Partner programme intends to bring Social Entrepreneurs to the fore and help them realize their goal.
			
				.heading.heading--primary
					h2.heading__title.no-margin-bottom #[span Associate] #[span Program]

				<br>
				.accordion.accordion--primary
					.accordion__title-block
						h6.accordion__title What tasks should I perform in the Associate Program?
						span.accordion__close
					.accordion__text-block
						p Associate should strive to bring as many Partners as possible.

				.accordion.accordion--primary
					.accordion__title-block
						h6.accordion__title What is the Associate Program and what will I get after joining it?
						span.accordion__close
					.accordion__text-block
						p Associate program lets a person become a commission agent for Oxeye technologies. After successfully completing fundraising Associate will get a portion of the funds realized by the partner.

				.heading.heading--primary
					h2.heading__title.no-margin-bottom #[span Donor] #[span Queries]

				<br>
				.accordion.accordion--primary
					.accordion__title-block
						h6.accordion__title Didn't receive a confirmation after a successful transaction?
						span.accordion__close
					.accordion__text-block
						p Please send us your email ID, or transaction ID that you might have received over email to <b>info@jivdaya.co.in</b> and we will get back to you at the earliest.

				.accordion.accordion--primary
					.accordion__title-block
						h6.accordion__title Cancelling or requesting for a refund?
						span.accordion__close
					.accordion__text-block
						p Drop us an email on <b>info@jivdaya.co.in</b> with details.Please note a refund will only be processed if it is requested within 48 hrs of the transaction. Once the fundraiser has been paid out, no refund request will be accepted.

				.accordion.accordion--primary
					.accordion__title-block
						h6.accordion__title Payment / donation receipt?
						span.accordion__close
					.accordion__text-block
						p <b>After successful payment the receipt will be generated Automatically. You can take a screenshot of the page or you will get the receipt on your e-mail. In case of 80G exemption applicable it will be mentioned in your receipt.</b>

				.accordion.accordion--primary
					.accordion__title-block
						h6.accordion__title How JivDaya different from other platforms?
						span.accordion__close
					.accordion__text-block
						p Crowdfunding with social media benefits for partners. For associate linkages and earning for working. For donor clear proof of authenticity to donate.

				.accordion.accordion--primary
					.accordion__title-block
						h6.accordion__title How Do I register a complain?
						span.accordion__close
					.accordion__text-block
						p E-mail us with your concern on <b>feedback@jivdaya.co.in</b>

				.heading.heading--primary
					h2.heading__title.no-margin-bottom #[span Fund] #[span Raising]

				<br>	
				.accordion.accordion--primary
					.accordion__title-block
						h6.accordion__title How can I start Fund raising?
						span.accordion__close
					.accordion__text-block
						p Select any one from 56-word file examples or any other work of your choice. Use JivDaya as your launchpad for the endeavour. Share your post with family and friends on other social media. Once people see your work, they will be encouraged to help your cause.

				.accordion.accordion--primary
					.accordion__title-block
						h6.accordion__title How do I create awareness about my cause?
						span.accordion__close
					.accordion__text-block
						p Display your work with JivDaya App. Promote your cause on various social media by sharing it. Contact your family, friends, and relatives to explain your work directly.

				.accordion.accordion--primary
					.accordion__title-block
						h6.accordion__title Can't the funds directly go to our account?
						span.accordion__close
					.accordion__text-block
						p Yes, the funds automatically credited in beneficiary account. The funds are first collected in JivDaya’s accounts and upon clearing any refund request/chargebacks and successful verification of documents, are only then eligible to be completely be released to the beneficiary's account.

				.heading.heading--primary
					h2.heading__title.no-margin-bottom #[span Social] #[span Media]

				<br>	
				.accordion.accordion--primary
					.accordion__title-block
						h6.accordion__title What can I do to promote my work?
						span.accordion__close
					.accordion__text-block
						p Reach out to your social circle first – friends, family and colleagues. They are most likely to give because, well, they love you, and because they can feel your passion for the cause. JivDaya lets you share on other platforms. This will help in expanding your influence in the general public.

				.accordion.accordion--primary
					.accordion__title-block
						h6.accordion__title How can We/I tell our/my Story and Connect with Donors?
						span.accordion__close
					.accordion__text-block
						p Be precise in your Post. Display your work genuinely on the platform. Use innovative language for headings. It will help in getting the donors on your post.

				.accordion.accordion--primary
					.accordion__title-block
						h6.accordion__title How can social media advertising help me to promote my cause?
						span.accordion__close
					.accordion__text-block
						p Social media advertising lets you reach to potential donors directly. They are the people associated with your cause and targeted approach will help in realization of your fundraising.

				.heading.heading--primary
					h2.heading__title.no-margin-bottom #[span Payments] #[span Related]

				<br>
				.accordion.accordion--primary
					.accordion__title-block
						h6.accordion__title Receipt Generation?
						span.accordion__close
					.accordion__text-block
						p Automatically Generated receipt. Tax benefit under various provisions will be provided and same is mentioned in the receipt where allowed. Take a screenshot of the receipt or it will <b>be mailed to your registered e-mail id.</b>

				.accordion.accordion--primary
					.accordion__title-block
						h6.accordion__title Different Modes of Payments to donate?
						span.accordion__close
					.accordion__text-block
						p Donation can be done using various payment methods like; Bhim upi, Google Pay, All major International and domestic cards, net banking.

				.accordion.accordion--primary
					.accordion__title-block
						h6.accordion__title Didn't receive a confirmation after a successful transaction?
						span.accordion__close
					.accordion__text-block
						p Don’t worry! It happens sometimes. The transaction might have been successful but we might have not received a confirmation from the bank, in such instances we recommend you wait at least 24 hrs to see the confirmation from JivDaya. If you still don't receive a confirmation, please note the transaction has been marked as failed and the transaction has been reversed. You will see the credited amount in your account in 5-7 working days. If you still have any queries request you to write to <b>info@JivDaya.co.in</b>

				.accordion.accordion--primary
					.accordion__title-block
						h6.accordion__title Transaction failed, still got a confirmation that transaction was a success?
						span.accordion__close
					.accordion__text-block
						p <b>Don’t worry! It happens sometimes. In such an instance you will either receive a confirmation from your bank that the transaction was successful or you will receive a message from your bank that the transaction has failed. If the transaction has failed it will also reverse accordingly on JivDaya in 48 hrs.</b>

				.accordion.accordion--primary
					.accordion__title-block
						h6.accordion__title Payment successful? Haven't received the funds yet?
						span.accordion__close
					.accordion__text-block
						p Once donation is made it will take 48-72 hours to reflect in the account. INR donation will take 1-2 days and for International donation takes 3-4 days after realization will be credited in the beneficiary account.

				.accordion.accordion--primary
					.accordion__title-block
						h6.accordion__title What are the platform fees?
						span.accordion__close
					.accordion__text-block
						p Platform fees are the charges JivDaya takes for maintaining and upgrading the services provided. It includes server charges and account maintenance charges.

				.accordion.accordion--primary
					.accordion__title-block
						h6.accordion__title What are Taxation benefits under various sections?
						span.accordion__close
					.accordion__text-block
						p There are various exemptions provided to some organizations under 80G of IT act. These benefits vary for different organization. JivDaya is just a platform which lets you donate to these organization.

				.accordion.accordion--primary
					.accordion__title-block
						h6.accordion__title Why Does JivDaya Charge A Platform Fee?
						span.accordion__close
					.accordion__text-block
						p We levy fees to maintain and upgrade our platform to suit your fundraising needs, add innovations that can maximize giving and build a team that can drive you towards your goal. Furthermore, operating expenses resulting from infrastructure, technology, payroll & benefits for our employees is realized from it. This fee model is so created that you continue to receive great service from us without worrying about any overhead.

				.accordion.accordion--primary
					.accordion__title-block
						h6.accordion__title Who Do I Contact If My Funds Have Not Been Transferred?
						span.accordion__close
					.accordion__text-block
						p Contact us on <b>info@jivdaya.co.in</b> with your query details.

				.accordion.accordion--primary
					.accordion__title-block
						h6.accordion__title To Whose Account Will the Funds Be Transferred To?
						span.accordion__close
					.accordion__text-block
						p Funds will be credited to the beneficiary account added at the time of registration.

				.accordion.accordion--primary
					.accordion__title-block
						h6.accordion__title My organization doesn't have 80G tax-exemption. Can we still raise funds on JivDaya?
						span.accordion__close
					.accordion__text-block
						p Yes, you can.

				.accordion.accordion--primary
					.accordion__title-block
						h6.accordion__title My organization has 80G tax exemption. Can we issue tax-exemption receipts to donors from JivDaya dashboard?
						span.accordion__close
					.accordion__text-block
						p Yes, you can.

				.accordion.accordion--primary
					.accordion__title-block
						h6.accordion__title Do I need to submit any information to receive the funds?
						span.accordion__close
					.accordion__text-block
						p Once registration details will be completed you will receive funds automatically without any intervention.

				.accordion.accordion--primary
					.accordion__title-block
						h6.accordion__title How will the funds be credited to my account?
						span.accordion__close
					.accordion__text-block
						p Funds will be credited in the beneficiary account by NEFT automatically.


				.heading.heading--primary
					h2.heading__title.no-margin-bottom #[span Trust & Safety] #[span Issues]

				<br>
				.accordion.accordion--primary
					.accordion__title-block
						h6.accordion__title How does JivDaya verify if a fundraiser is genuine?
						span.accordion__close
					.accordion__text-block
						p JivDaya is a community of people who believe in the greater good of helping one another. As a result, our users watch for and flag posts they believe to be questionable. If suspicion is raised regarding a fundraiser, we investigate by requesting supporting evidence. If we find that a fundraiser is fraudulent or illegal, the fundraiser will be removed and barred.Despite our best efforts, we cannot guarantee the full accuracy of every detail that is posted on the platform. We recommend that you only donate to fundraisers when you feel confident about their cause and legitimacy.

				.accordion.accordion--primary
					.accordion__title-block
						h6.accordion__title How do I report a fundraiser that seems fraudulent?
						span.accordion__close
					.accordion__text-block
						p It’s our constant endeavour to ensure that JivDaya is the safest and most secure platform for everyone. In case we come across a fundraiser that isn’t transparent or created with malicious intentions, we instantly take necessary action. But we have thousands of fundraisers created on our platform every month, and despite all our vetting measures, some fraudulent fundraisers slip through. So, we have decided to enlistyour help to locate cases of fraud on our platform. If you come across such a fundraiser, we request you to <b>kindly report it to us</b> along with evidence to support your claim. Our team will look into it immediately and ensure there’s a swift resolution to the issue.<br>
						<em>The following are instances in which you should report a fundraiser:</em>  <br> The campaigner is lying or being misleading about their identity.<br>The campaigner is misrepresenting their relationship to the beneficiary of the fundraiser.<br>The campaigner is raising funds in the name of someone without their consent.<br>The campaigner is posting false statements in the fundraiser or statements inciting violence.<br>The campaigner is posting personal information eg. number, address, illness, photos, documents, etc. of an individual without their consent.<br>The campaigner is using copyrighted material in a fundraiser.<br>The campaigner is committing a violation of the Information Technology Act, 2000.<br>

				.heading.heading--primary
					h2.heading__title.no-margin-bottom #[span Posting] #[span Related]

				<br>
				.accordion.accordion--primary
					.accordion__title-block
						h6.accordion__title How to post on JivDaya?
						span.accordion__close
					.accordion__text-block
						p Coming Soon.

				.accordion.accordion--primary
					.accordion__title-block
						h6.accordion__title Why should I post on JivDaya?
						span.accordion__close
					.accordion__text-block
						p Coming Soon.

				.accordion.accordion--primary
					.accordion__title-block
						h6.accordion__title How to add bank account details?
						span.accordion__close
					.accordion__text-block
						p Go to Registration page<br>Add requested details – Name of Bank, Branch, Account number, IFSC, etc. Attach a government issued Photo ID for KYC verification of the beneficiary.

				.accordion.accordion--primary
					.accordion__title-block
						h6.accordion__title I do not want to make an online payment. Are there any other payment options available?
						span.accordion__close
					.accordion__text-block
						p No, payments are acceptable through only Cards(Domestic & International), Net Banking, UPI. Cash payment and Cheque collection is not available.

				.accordion.accordion--primary
					.accordion__title-block
						h6.accordion__title I want to donate anonymously. Can I do that?
						span.accordion__close
					.accordion__text-block
						p Absolutely! In support section Anonymous section will help you with your requirements.

				.accordion.accordion--primary
					.accordion__title-block
						h6.accordion__title I tried making a donation. The amount debited from my bank account / card but I was shown a message that my payment didn't go through. What should I do?
						span.accordion__close
					.accordion__text-block
						p If the amount was debited from your account, don't worry. In most cases, your payment is held at the payment gateway and will be credited to us within 24 hours. When the payment is received by JivDaya, you will receive an acknowledgement.  In case you've not received an email acknowledgement within 24 hours, <b>email us</b> and we'll resolve it at the earliest.

				.accordion.accordion--primary
					.accordion__title-block
						h6.accordion__title Do donors pay a fee?
						span.accordion__close
					.accordion__text-block
						p No. Donors are charged only the amount they choose to donate.

				.accordion.accordion--primary
					.accordion__title-block
						h6.accordion__title My card keeps getting rejected. What should I do?
						span.accordion__close
					.accordion__text-block
						p One of the most common causes of card rejections is incorrect CVV code entered. Please make sure your Name, Expiration, CVV on your card match with you've entered. If this doesn't work, you may consider trying other option. You could also consider doing a bank transfer/pay via cheque option for the same.

				.accordion.accordion--primary
					.accordion__title-block
						h6.accordion__title Is it safe to donate on JivDaya?
						span.accordion__close
					.accordion__text-block
						p Our platform features the most secure payment encryption technology (256-bit SSL encryption - the highest in the industry). We don't store any card / banking details of your donors. We take your privacy very seriously and never share your personal information with anyone. You can also choose to be anonymous (to the organizer and the public) while making the donation.

				.heading.heading--primary
					h2.heading__title.no-margin-bottom #[span Miscellaneous]

				<br>
				.accordion.accordion--primary
					.accordion__title-block
						h6.accordion__title What if I tick camera permission deny and don’t ask again?
						span.accordion__close
					.accordion__text-block
						p <b>This is system permissions. You should go to system settings and allow camera permission.</b>



			

// faq end