// icons section start

section.section.icons-section.no-padding-top
	.container
		.row.margin-bottom

			.col-12

				.heading.heading--center
					//span.heading__pre-title Services
					br
					br
					br
					h2.heading__title #[span Causes] #[span  you can raise fund for]

		.row

			.col-6.col-lg-3

				.icon-item
					.icon-item__img
						img.img--layout(src="img/icon_1-1.png", alt="img")
						svg.icon.icon-item__icon.icon--red
							use(xlink:href="#donation")
					.icon-item__text
						p Emergencies

			.col-6.col-lg-3

				.icon-item
					.icon-item__img
						img.img--layout(src="img/icon_2-2.png", alt="img")
						svg.icon.icon-item__icon.icon--orange
							use(xlink:href="#church")
					.icon-item__text
						p NGO/Charities

			.col-6.col-lg-3

				.icon-item
					.icon-item__img
						img.img--layout(src="img/icon_3-3.png", alt="img")
						svg.icon.icon-item__icon.icon--green
							use(xlink:href="#healthcare")
					.icon-item__text
						p Medical Need

			.col-6.col-lg-3

				.icon-item
					.icon-item__img
						img.img--layout(src="img/icon_4-4.png", alt="img")
						svg.icon.icon-item__icon.icon--blue
							use(xlink:href="#animal_shelter")
					.icon-item__text
						p Animal Help

		.row

			.col-6.col-lg-3

				.icon-item
					.icon-item__img
						img.img--layout(src="img/icon_1-1.png", alt="img")
						svg.icon.icon-item__icon.icon--red
							use(xlink:href="#bird")
					.icon-item__text
						p Bird Help

			.col-6.col-lg-3

				.icon-item
					.icon-item__img
						img.img--layout(src="img/icon_2-2.png", alt="img")
						svg.icon.icon-item__icon.icon--orange
							use(xlink:href="#education")
					.icon-item__text
						p Education

			.col-6.col-lg-3

				.icon-item
					.icon-item__img
						img.img--layout(src="img/icon_3-3.png", alt="img")
						svg.icon.icon-item__icon.icon--green
							use(xlink:href="#child")
					.icon-item__text
						p Children

			.col-6.col-lg-3

				.icon-item
					.icon-item__img
						img.img--layout(src="img/icon_4-4.png", alt="img")
						svg.icon.icon-item__icon.icon--blue
							use(xlink:href="#charity")
					.icon-item__text
						p Community

		.row

			.col-6.col-lg-3

				.icon-item
					.icon-item__img
						img.img--layout(src="img/icon_1-1.png", alt="img")
						svg.icon.icon-item__icon.icon--red
							use(xlink:href="#024-wheelchair")
					.icon-item__text
						p Elderly

			.col-6.col-lg-3

				.icon-item
					.icon-item__img
						img.img--layout(src="img/icon_2-2.png", alt="img")
						svg.icon.icon-item__icon.icon--orange
							use(xlink:href="#006-woman")
					.icon-item__text
						p Women

			.col-6.col-lg-3

				.icon-item
					.icon-item__img
						img.img--layout(src="img/icon_3-3.png", alt="img")
						svg.icon.icon-item__icon.icon--green
							use(xlink:href="#023-ecology")
					.icon-item__text
						p Environment

			.col-6.col-lg-3

				.icon-item
					.icon-item__img
						img.img--layout(src="img/icon_4-4.png", alt="img")
						svg.icon.icon-item__icon.icon--blue
							use(xlink:href="#049-smartphone")
					.icon-item__text
						p Technology
		
		.row

			.col-6.col-lg-3

				.icon-item
					.icon-item__img
						img.img--layout(src="img/icon_1-1.png", alt="img")
						svg.icon.icon-item__icon.icon--red
							use(xlink:href="#042-house")
					.icon-item__text
						p Rural Development

			.col-6.col-lg-3

				.icon-item
					.icon-item__img
						//- img.img--layout(src="img/icon_2-2.png", alt="img")
						svg.icon.icon-item__icon.icon--orange
							use(xlink:href="#2_piggy_bank")
					.icon-item__text
						p Social Entrepreneurship

			.col-6.col-lg-3

				.icon-item
					.icon-item__img
						img.img--layout(src="img/icon_3-3.png", alt="img")
						svg.icon.icon-item__icon.icon--green
							use(xlink:href="#2_homeless")
					.icon-item__text
						p Natural Calamities

			
			.col-6.col-lg-3

				.icon-item
					.icon-item__img
						//- img.img--layout(src="img/icon_3-3.png", alt="img")
						a(href='icons_page.html' target='_blank')
							.slider__next_icon
								+fa('chevron-right')
							.icon-item__text
								p View all items...
// icons section end