// instagram start

section.section.instagram.no-padding-bottom
	.container
		.row.align-items-end.margin-bottom

			.col-md-7.col-lg-8
				
				.heading.heading--primary
					span.heading__pre-title Testimonials
					h2.heading__title.no-margin-bottom #[span # helpocharity]

			.col-md-5.col-lg-4.text-md-right

				// slider nav start
				.slider__nav.instagram-slider__nav
					.slider__arrows
						.slider__prev
							+fa('chevron-left')
						.slider__next
							+fa('chevron-right')
				// slider nav end

	.instagram-slider
	
		a.instagram-slider__item(href="#")
			img.img--bg(src="img/icon_1.png", alt="img")
			span.instagram-slider__icon
				+fa('instagram')
			span.instagram-slider__icon-hover
				+fa('instagram')

		a.instagram-slider__item(href="#")
			img.img--bg(src="img/icon_1-1.png", alt="img")
			span.instagram-slider__icon
				+fa('instagram')
			span.instagram-slider__icon-hover
				+fa('instagram')

		a.instagram-slider__item(href="#")
			img.img--bg(src="img/icon_2.png", alt="img")
			span.instagram-slider__icon
				+fa('instagram')
			span.instagram-slider__icon-hover
				+fa('instagram')

		a.instagram-slider__item(href="#")
			img.img--bg(src="img/icon_2-2.png", alt="img")
			span.instagram-slider__icon
				+fa('instagram')
			span.instagram-slider__icon-hover
				+fa('instagram')

		a.instagram-slider__item(href="#")
			img.img--bg(src="img/icon_3-3.png", alt="img")
			span.instagram-slider__icon
				+fa('instagram')
			span.instagram-slider__icon-hover
				+fa('instagram')

		a.instagram-slider__item(href="#")
			img.img--bg(src="img/icon_4-4.png", alt="img")
			span.instagram-slider__icon
				+fa('instagram')
			span.instagram-slider__icon-hover
				+fa('instagram')

		a.instagram-slider__item(href="#")
			img.img--bg(src="img/icon_7-7.png", alt="img")
			span.instagram-slider__icon
				+fa('instagram')
			span.instagram-slider__icon-hover
				+fa('instagram')
	
// instagram end