section.section.storie-details

    img.storie-details__bg(src="img/storie_details-bg.png", alt="img")
    section.promo-primary(class=(dest === "elements" ? "promo-primary--elements" : undefined))
        picture
            source(srcset='img/guidelines.jpg', media='(min-width: 992px)')
            img.img--bg(src='img/guidelines.jpg', alt='img')

        .container
            .row
                .col-auto
                    .align-container
                        .align-container__item
                            span.promo-primary__pre-title JivDaya
                            h1.promo-primary__title #[span Guidelines]

    .container
        //.row

            .col-xl-8.offset-xl-2

                .storie-details__top
                    .storie-details__img
                        img.img--bg(src="img/guidelines.jpg" alt="img")
                        
        h6.storie-details__title Consider your objectives before creating a social media page. Ask yourself.
        p
            ul
                li  What do you plan to achieve with this social media? What kind of information do you want to share or receive  the page? 
                li How will you measure success? What statistics will be meaningful to you? (Number of hits, links, likes,or comments.
                li Who will be reading and commenting on your social media site? Who are you trying to engage? How will you identify them and attract them to your networks?
                li What social media networks will you be using? Who will establish the networks? Who will be administrators.
                li Who will maintain the page? How often will it be updated?


        h6.storie-details__title Follow the Guidelines below for effective utilization of JivDaya Platform.
        p
            ol
                li Keep things positive.
                li Keep your posts mobile-friendly.
                li Share several times a day, but space out your posts every few hours.
                li Respond to all comments as quickly as you can.
                li Know the art of the hashtag. 1 to 3 hashtags are fine. 10 hashtags are not.
                li Always keep the 80/20 rule! Entertain and inform your audience first, sell to them second.
                li When sharing a post, always add your own commentary to it first.
                li Don’t neglect to provide good descriptions for your posts.
                li Be thoughtful about representation.
                li Provide descriptive captions for images. 

        h6.storie-details__title Best practices
        p
            ul
                li Be respectful:Respect your audience.Take care not to engage in any conduct that would not be acceptable in the workplace.
                li Get your facts straight: Ensure that you are providing accurate information so that you are not misrepresenting.
                li Be mindful of your public image: Consider the image you want to portray to the public. Be mindful that what you post may be viewed by parents, students, administrators and community members, and may stay public for a long time. 
                li Use your best judgment: Remember there may be consequences to what you post, so consider your content carefully. If you are about to post something that makes you the slightest bit uncomfortable, review these guidelines and think about whether to post the material.


        h6.storie-details__title Content that will be deleted includes:  
        p 
            ul
                li An advertisement for a commercial business. 
                li Libelous, slanderous, inflammatory or defamatory comments. 
                li Vulgar, racist or sexist slurs.
                li Obscenities.
                li Comments pertaining to violence. 
                li Incorrect information. 
                li Comments that are not respectful. 
                li Comments that are not relevant to the topic.
                li A commenter who is misrepresenting himself/herself. 

				

// guidelines end