// fundraising start

section.section.faq
	.container
		.row.margin-bottom

			.col-12

				.heading.heading--primary
					
					h4 <b>Make Contact</b><br>
					p Once your fundraiser page is ready, it's time to reach out to your supporters! Here are some tricks of the crowdfunding trade:<br>Initial days of your post are very important. These periods are when your post gathers the maximum momentum. So, get started!<br><br>Stage 1: Divide your social circle into two parts an inner circle (friends, family, colleagues) and an outer circle (old friends, distant relatives, ex - colleagues etc.).<br>Stage 2: Reach out to your inner social circle first - friends, family and colleagues. They are most likely to give because, well, they love you. And because they can feel your passion for the cause.<br>Stage 3: Reach out to your outer circle next - old friends, distant relatives, ex - colleagues etc. When they see you've already got supporters giving to your post, it will make them want to join in as well.

					h4 <b>Good Communication</b><br>
					p Social media is great, but nothing beats direct contact (chatting face-to-face, direct emails, a personal Facebook or WhatsApp message). So, when you begin touching base with your circles, direct, personalized communication is key!<br>Social media is still your best bet, of course! Use your Facebook status, Twitter and other social media to talk about your fundraiser. Let the world know the good work you’re doing!<br>And, remember to always include your page link in any communication!

					h4 <b>Gratitude</b><br>
					p It pays to say 'thank you'!<br>When you show gratitude, it makes your supporter feel all fuzzy-happy. This often leads to them giving to you again and/or getting more involved in spreading the word. Isn't that nice?<br>Here's another trick: If you thank supporters within 48 hours of their contribution, they are more likely to give again! We kid you not!<br>Social media is good too, since it acknowledges their support on a public forum. Remember to tag your supporter!<br>Talk about how the NGO has been doing amazing work for our country's underprivileged lives. These matters.<br>Add the fundraiser link and ask your network to join the movement in support.<br>Ask them to share the fundraiser link on social media.



			

// faq end