section.section.storie-details

    img.storie-details__bg(src="img/inner-pages.png", alt="img")
    section.promo-primary(class=(dest === "elements" ? "promo-primary--elements" : undefined))
        picture
            source(srcset='img/trust-and-safety.jpg', media='(min-width: 992px)')
            img.img--bg(src='img/trust-and-safety.jpg', alt='img')

        .container
            .row
                .col-auto
                    .align-container
                        .align-container__item
                            span.promo-primary__pre-title JivDaya
                            h1.promo-primary__title #[span Trust and Safety]

    br
    br
    br                     
    .container
        p We at JivDaya give utmost importance to safety. We always strive to make the entire process seamless, positive and most importantly secure. We never let authenticity and transparency take a back seat. The NGOs/charity partners that team up with us go through a verification process that requires them to submit valid documents. Each Foundation is verified before their account is activated on JivDaya.
        p Similarly, for personal causes or individuals who are raising funds for personal needs, our team does a KYC of the individual before starting the post and try to approve only the genuine ones.
        p Please report any pages that request direct payments or users who attempt to contact you to arrange an alternative method of payment.



        h6.storie-details__title How do I trust the payment process?
        p All the Payment process is done using authorized payment gateways and provide round the clock security. We accept the funds through online banking and other trusted routes only.

        h6.storie-details__title What about the amount I owe JivDaya?
        p While it's free to create and share your online fundraising, JivDaya deducts a fee from each donation that you receive. This includes the payment gateway charges as well GST. we're a small team filled with joy and vigor to make a difference. We need funds to grow and become a better platform. Since our fee is deducted automatically, you'll never need to worry about being billed or owing us any money. The receipts of our services rendered will be mailed to you from time to time.

        h6.storie-details__title Is my identity information secured when I donate to JivDaya?
        p We at JivDaya give utmost importance to safety. JivDaya understands that you care about how your information is used and shared. We maintain physical, electronic and procedural safeguards with respect to the collection, storage and disclosure of personally identifiable donor and partner information.

        h6.storie-details__title How is my payment/donation secured?
        p All Payments are secured via 128-bit encryption. JivDaya assures you that the information you provide is completely protected and that your donations are safe. Our secure-server software encrypts all your personal information like name, number, email and address.
        
        h6.storie-details__title How do I know the campaigner is authentic?
        p No matter how much we monitor and control, there’s no way to be 100% sure that a JivDaya Posting page contains accurate or truthful information. Donors should make a payment only if they personally know and trust the campaigner and his/her cause. Ideally, donors should not contribute to any campaigns unless they fully understand and trust the cause presented.

        h6.storie-details__title More questions?
        p If you have any concerns apart from these, we’re just an email away. Write us to info@jivdaya.co.in


            

// trust and safety end