.icon {
	display: inline-block;
	width: 1em;
	height: 1em;
	fill: currentColor;
}

.icon-001-donate-2 {
	font-size:(512/10)*1rem;
	width:(512/512)*1em;
}
.icon-002-donate-1 {
	font-size:(512/10)*1rem;
	width:(512/512)*1em;
}
.icon-003-money-bag {
	font-size:(512/10)*1rem;
	width:(512/512)*1em;
}
.icon-004-donation-9 {
	font-size:(512/10)*1rem;
	width:(512/512)*1em;
}
.icon-005-charity-4 {
	font-size:(512/10)*1rem;
	width:(512/512)*1em;
}
.icon-006-woman {
	font-size:(512/10)*1rem;
	width:(512/512)*1em;
}
.icon-007-church {
	font-size:(512/10)*1rem;
	width:(512/512)*1em;
}
.icon-008-bible {
	font-size:(512/10)*1rem;
	width:(512/512)*1em;
}
.icon-009-loudspeaker {
	font-size:(512/10)*1rem;
	width:(512/512)*1em;
}
.icon-010-people {
	font-size:(512/10)*1rem;
	width:(512/512)*1em;
}
.icon-011-heart-box {
	font-size:(512/10)*1rem;
	width:(512/512)*1em;
}
.icon-012-balance {
	font-size:(512/10)*1rem;
	width:(512/512)*1em;
}
.icon-013-heart {
	font-size:(512/10)*1rem;
	width:(512/512)*1em;
}
.icon-014-donate {
	font-size:(512/10)*1rem;
	width:(512/512)*1em;
}
.icon-015-donation-8 {
	font-size:(512/10)*1rem;
	width:(512/512)*1em;
}
.icon-016-blood {
	font-size:(512/10)*1rem;
	width:(512/512)*1em;
}
.icon-017-man {
	font-size:(512/10)*1rem;
	width:(512/512)*1em;
}
.icon-018-donation-7 {
	font-size:(512/10)*1rem;
	width:(512/512)*1em;
}
.icon-019-donation-6 {
	font-size:(512/10)*1rem;
	width:(512/512)*1em;
}
.icon-020-location {
	font-size:(512/10)*1rem;
	width:(512/512)*1em;
}
.icon-021-gift {
	font-size:(512/10)*1rem;
	width:(512/512)*1em;
}
.icon-022-donation-5 {
	font-size:(512/10)*1rem;
	width:(512/512)*1em;
}
.icon-023-ecology {
	font-size:(512/10)*1rem;
	width:(512/512)*1em;
}
.icon-024-wheelchair {
	font-size:(512/10)*1rem;
	width:(512/512)*1em;
}
.icon-025-first-aid-kit {
	font-size:(512/10)*1rem;
	width:(512/512)*1em;
}
.icon-026-transfusion {
	font-size:(512/10)*1rem;
	width:(512/512)*1em;
}
.icon-027-solidarity-1 {
	font-size:(512/10)*1rem;
	width:(512/512)*1em;
}
.icon-028-ribbon-2 {
	font-size:(512/10)*1rem;
	width:(512/512)*1em;
}
.icon-029-balloon {
	font-size:(512/10)*1rem;
	width:(512/512)*1em;
}
.icon-030-donation-4 {
	font-size:(512/10)*1rem;
	width:(512/512)*1em;
}
.icon-031-package {
	font-size:(512/10)*1rem;
	width:(512/512)*1em;
}
.icon-032-bread {
	font-size:(512/10)*1rem;
	width:(512/512)*1em;
}
.icon-033-donation-3 {
	font-size:(512/10)*1rem;
	width:(512/512)*1em;
}
.icon-034-charity-3 {
	font-size:(512/10)*1rem;
	width:(512/512)*1em;
}
.icon-035-donation-2 {
	font-size:(512/10)*1rem;
	width:(512/512)*1em;
}
.icon-036-mail {
	font-size:(512/10)*1rem;
	width:(512/512)*1em;
}
.icon-037-money {
	font-size:(512/10)*1rem;
	width:(512/512)*1em;
}
.icon-038-shirt {
	font-size:(512/10)*1rem;
	width:(512/512)*1em;
}
.icon-039-charity-2 {
	font-size:(512/10)*1rem;
	width:(512/512)*1em;
}
.icon-040-ribbon-1 {
	font-size:(512/10)*1rem;
	width:(512/512)*1em;
}
.icon-041-house-1 {
	font-size:(512/10)*1rem;
	width:(512/512)*1em;
}
.icon-042-house {
	font-size:(512/10)*1rem;
	width:(512/512)*1em;
}
.icon-043-donation-1 {
	font-size:(512/10)*1rem;
	width:(512/512)*1em;
}
.icon-044-donation {
	font-size:(512/10)*1rem;
	width:(512/512)*1em;
}
.icon-045-charity-1 {
	font-size:(512/10)*1rem;
	width:(512/512)*1em;
}
.icon-046-solidarity {
	font-size:(512/10)*1rem;
	width:(512/512)*1em;
}
.icon-047-world-grid {
	font-size:(512/10)*1rem;
	width:(512/512)*1em;
}
.icon-048-ribbon {
	font-size:(512/10)*1rem;
	width:(512/512)*1em;
}
.icon-049-smartphone {
	font-size:(512/10)*1rem;
	width:(512/512)*1em;
}
.icon-050-charity {
	font-size:(512/10)*1rem;
	width:(512/512)*1em;
}
.icon-1_basket {
	font-size:(68.21/10)*1rem;
	width:(65.2/68.21)*1em;
}
.icon-1_blood {
	font-size:(114.78/10)*1rem;
	width:(110.12/114.78)*1em;
}
.icon-1_charity {
	font-size:(96.51/10)*1rem;
	width:(114.77/96.51)*1em;
}
.icon-1_donate {
	font-size:(64.48/10)*1rem;
	width:(68.21/64.48)*1em;
}
.icon-1_earth {
	font-size:(102.67/10)*1rem;
	width:(102.67/102.67)*1em;
}
.icon-1_hand {
	font-size:(113.96/10)*1rem;
	width:(70.73/113.96)*1em;
}
.icon-1_hand_love {
	font-size:(102.67/10)*1rem;
	width:(93.77/102.67)*1em;
}
.icon-1_house {
	font-size:(68.21/10)*1rem;
	width:(59.46/68.21)*1em;
}
.icon-1_kids {
	font-size:(68.21/10)*1rem;
	width:(43.74/68.21)*1em;
}
.icon-1_love {
	font-size:(57.13/10)*1rem;
	width:(68.21/57.13)*1em;
}
.icon-1_money {
	font-size:(53.88/10)*1rem;
	width:(68.21/53.88)*1em;
}
.icon-1_money_hand {
	font-size:(108.33/10)*1rem;
	width:(113.96/108.33)*1em;
}
.icon-1_nature {
	font-size:(102.67/10)*1rem;
	width:(78.98/102.67)*1em;
}
.icon-1_people {
	font-size:(47.44/10)*1rem;
	width:(68.21/47.44)*1em;
}
.icon-1_t-shirt {
	font-size:(54.28/10)*1rem;
	width:(68.21/54.28)*1em;
}
.icon-1_tape {
	font-size:(102.67/10)*1rem;
	width:(81.57/102.67)*1em;
}
.icon-2_animal_shelter {
	font-size:(89.3/10)*1rem;
	width:(64.52/89.3)*1em;
}
.icon-2_beggar {
	font-size:(100.16/10)*1rem;
	width:(59.79/100.16)*1em;
}
.icon-2_charity {
	font-size:(130.03/10)*1rem;
	width:(92.84/130.03)*1em;
}
.icon-2_child {
	font-size:(119.93/10)*1rem;
	width:(73.95/119.93)*1em;
}
.icon-2_cooking {
	font-size:(145.01/10)*1rem;
	width:(92.84/145.01)*1em;
}
.icon-2_delivery {
	font-size:(127.68/10)*1rem;
	width:(70.4/127.68)*1em;
}
.icon-2_disabled {
	font-size:(130.92/10)*1rem;
	width:(67.55/130.92)*1em;
}
.icon-2_donate {
	font-size:(92/10)*1rem;
	width:(87.49/92)*1em;
}
.icon-2_homeless {
	font-size:(108.41/10)*1rem;
	width:(36.07/108.41)*1em;
}
.icon-2_love {
	font-size:(92.62/10)*1rem;
	width:(115.39/92.62)*1em;
}
.icon-2_money {
	font-size:(75.33/10)*1rem;
	width:(71.35/75.33)*1em;
}
.icon-2_money_hand {
	font-size:(87.14/10)*1rem;
	width:(55.86/87.14)*1em;
}
.icon-2_pc_donate {
	font-size:(104.32/10)*1rem;
	width:(72.56/104.32)*1em;
}
.icon-2_phone_donate {
	font-size:(75.49/10)*1rem;
	width:(33.26/75.49)*1em;
}
.icon-2_piggy_bank {
	font-size:(86.57/10)*1rem;
	width:(51.36/86.57)*1em;
}
.icon-2_receipt {
	font-size:(124.61/10)*1rem;
	width:(67.98/124.61)*1em;
}
.icon-3_blood {
	font-size:(92.41/10)*1rem;
	width:(50.46/92.41)*1em;
}
.icon-3_childs_hand {
	font-size:(103.66/10)*1rem;
	width:(71.4/103.66)*1em;
}
.icon-3_donat_money {
	font-size:(43.2/10)*1rem;
	width:(89.26/43.2)*1em;
}
.icon-3_donate {
	font-size:(85.07/10)*1rem;
	width:(65.98/85.07)*1em;
}
.icon-3_earth {
	font-size:(72.61/10)*1rem;
	width:(81.86/72.61)*1em;
}
.icon-3_food {
	font-size:(99.65/10)*1rem;
	width:(62.81/99.65)*1em;
}
.icon-3_hand {
	font-size:(101.55/10)*1rem;
	width:(67.55/101.55)*1em;
}
.icon-3_help {
	font-size:(73.53/10)*1rem;
	width:(95.29/73.53)*1em;
}
.icon-3_house {
	font-size:(61.68/10)*1rem;
	width:(90.07/61.68)*1em;
}
.icon-3_love {
	font-size:(69.68/10)*1rem;
	width:(99.39/69.68)*1em;
}
.icon-3_love_hand {
	font-size:(99.36/10)*1rem;
	width:(66.11/99.36)*1em;
}
.icon-3_money {
	font-size:(86.83/10)*1rem;
	width:(61.68/86.83)*1em;
}
.icon-3_piggy_bank {
	font-size:(74.99/10)*1rem;
	width:(86.89/74.99)*1em;
}
.icon-3_pram {
	font-size:(66.75/10)*1rem;
	width:(92.11/66.75)*1em;
}
.icon-3_present {
	font-size:(65.9/10)*1rem;
	width:(89.06/65.9)*1em;
}
.icon-3_tape {
	font-size:(90.5/10)*1rem;
	width:(53.45/90.5)*1em;
}
.icon-bag {
	font-size:(16/10)*1rem;
	width:(12.8/16)*1em;
}
.icon-blood {
	font-size:(512/10)*1rem;
	width:(512/512)*1em;
}
.icon-bootstrap {
	font-size:(32/10)*1rem;
	width:(174/32)*1em;
}
.icon-bread {
	font-size:(512/10)*1rem;
	width:(512/512)*1em;
}
.icon-charity {
	font-size:(512/10)*1rem;
	width:(512/512)*1em;
}
.icon-check {
	font-size:(488.88/10)*1rem;
	width:(488.88/488.88)*1em;
}
.icon-church {
	font-size:(512/10)*1rem;
	width:(512/512)*1em;
}
.icon-clock {
	font-size:(97.16/10)*1rem;
	width:(97.16/97.16)*1em;
}
.icon-close {
	font-size:(47.97/10)*1rem;
	width:(47.97/47.97)*1em;
}
.icon-donate-1 {
	font-size:(512/10)*1rem;
	width:(512/512)*1em;
}
.icon-donation {
	font-size:(512/10)*1rem;
	width:(512/512)*1em;
}
.icon-education {
	font-size:(1728/10)*1rem;
	width:(1296/1728)*1em;
}
.icon-envelope {
	font-size:(483.3/10)*1rem;
	width:(483.3/483.3)*1em;
}
.icon-gulp {
	font-size:(46/10)*1rem;
	width:(76/46)*1em;
}
.icon-jquery {
	font-size:(38/10)*1rem;
	width:(134/38)*1em;
}
.icon-logo {
	font-size:(641/10)*1rem;
	width:(536/641)*1em;
}
.icon-man {
	font-size:(512/10)*1rem;
	width:(512/512)*1em;
}
.icon-node {
	font-size:(44/10)*1rem;
	width:(151/44)*1em;
}
.icon-phone-call {
	font-size:(473.81/10)*1rem;
	width:(473.81/473.81)*1em;
}
.icon-placeholder {
	font-size:(477/10)*1rem;
	width:(477/477)*1em;
}
.icon-previous {
	font-size:(16/10)*1rem;
	width:(16/16)*1em;
}
.icon-primary-tab-new {
	font-size:(60/10)*1rem;
	width:(60/60)*1em;
}
.icon-question {
	font-size:(31.357/10)*1rem;
	width:(31.357/31.357)*1em;
}
.icon-remove {
	font-size:(348.334/10)*1rem;
	width:(348.333/348.334)*1em;
}
.icon-share {
	font-size:(481.6/10)*1rem;
	width:(481.6/481.6)*1em;
}
.icon-shirt {
	font-size:(512/10)*1rem;
	width:(512/512)*1em;
}
.icon-warning {
	font-size:(489.42/10)*1rem;
	width:(489.42/489.42)*1em;
}
